@import '~antd/dist/antd.css';
.next-steps .fa-link {
  margin-right: 5px;
}

/* Fix for use only flexbox in content area */
.next-steps .row {
  margin-bottom: 0;
}

.next-steps .col-md-5 {
  margin-bottom: 3rem;
}

@media (max-width: 768px) {
  .next-steps .col-md-5 {
    margin-bottom: 0;
  }
}

.spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.result-block-container .result-block {
  opacity: 1;
}

.App {
  text-align: center;
}

.App-header {
  min-height: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  padding: 2px;
  color: rgb(203, 204, 195);
  margin: 5px;
}

.App-header-body {
  min-height: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  padding: 2px;
  color: rgb(2, 1, 10);
  margin: 5px;
}

.dropzone {
  margin-right: 2px;
  text-align: center;
  padding: 20px;
  border: 3px dashed #858282;
  background-color: #fafafa;
  color: #bdbdbd;
}

.button-Click {
  margin-right: 2px;
  margin-top: 6px;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: #8d8f9255;
  color: #020c18;
}

.textarea {
  width: 500px;
  height: 600px;
}
